@font-face{
  font-family: trial;
  src: url('../Fonts/ZenDots-Regular.ttf');
  font-weight: bold;
}

@font-face{
  font-family: trial2;
  src: url('../Fonts/ZenDots-Regular.ttf');
}

@font-face {
  font-family: content;
  src: url("../Fonts/DellaRespira-Regular.ttf");
}


html{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/yellow.jpg");
  color: rgb(12, 28, 65);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100%;
  overflow: hidden;
}



.head {
  font-family:trial;
  margin-left: 420px;
  font-size: 50px;
}

.c_name {
  font-family:trial;
  text-align: center;
}

.c_c{
  font-family:content;
  margin-left: 20px;
  margin-right: 20px;
  font-size: medium;
}

.it{
  font-family: trial;
  margin-left: 20px;
}

.it2{
  font-family: trial;
  margin-left: 20px;
}

.it3{
  font-family: trial;
  margin-left: 20px;
}

.ct1{
  font-family: content;
  margin-left: 20px;
}

.ct2{
  font-family: content;
  margin-left: 20px;
}


