
@font-face{
  font-family: trial;
  src: url('../Fonts/ZenDots-Regular.ttf');
  font-weight: bold;
}

html{
  background: url("../img/delete.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

h1{
  margin-top: 200px;
  font-family:trial;
  margin-left: 450px;
  font-size: 50px;
}

h2{
  text-align: center;
  margin-left: 30px;
  font-family: trial;
}

.yes{
  margin-left: 550px;
  height: 40px;
  width: 200px;
  font-family: trial;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  filter: alpha(opacity=500);
  transition: background-color 0.25s;
  background-color: rgb(165, 98, 98);
}

.yes:hover{
  background-color: rgba(250, 235, 215, 0.508);
}

.yes:active {
  background-color: rgba(230, 162, 74, 0.841);
}

.no{
  margin-top: 10px;
  margin-left: 550px;
  height: 40px;
  width: 200px;
  font-family: trial;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  filter: alpha(opacity=500);
  transition: background-color 0.25s;
  background-color: rgb(165, 98, 98);
}

.no:hover{
  background-color: rgba(250, 235, 215, 0.508);
}

.no:active {
  background-color: rgba(230, 162, 74, 0.841);
}