@font-face{
  font-family: trial;
  src: url('../Fonts/ZenDots-Regular.ttf');
  font-weight: bold;
}


html {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../img/back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100%;
  overflow: hidden;
}


body {
  margin-bottom: 2em;
  overflow: auto;
}

h1 {
  position: absolute;
  margin-top: 150px;
  margin-left: 340px;
  margin-bottom: 100px;
  font-size: 80px;
  font-family: trial;
  color: rgb(0, 3, 80);
}

.logininfo{
  margin-top: 250px;
  margin-left: 490px;
  border: none;
  border-radius: 20px;
}


.passwd{
  margin-left: 10px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(227, 199, 173);
  border: none;
  font-weight: bold;
}

.netid {
  margin-left: 35px;
  width: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(227, 199, 173);
  font-weight: bold;
}


.lbutton {
  margin-left: 550px;
  height: 40px;
  width: 200px;
  font-family: trial;
  background-color: rgba(250, 235, 215, 0.668);
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 10pc;
  filter: alpha(opacity=500);
  transition: background-color 0.25s;
}



.signmeup{
  margin-top: 0px;
  margin-left: 550px;
  height: 40px;
  width: 200px;
  font-family: trial;
  font-weight: bold;
  background-color: rgba(250, 235, 215, 0.668);
  cursor: pointer;
  border: none;
  border-radius: 10pc;
  filter: alpha(opacity=500);
  transition: background-color 0.25s;
}

.signmeup:hover{
  background-color: rgba(250, 235, 215, 0.508);
}

.signmeup:active {
  background-color: rgba(250, 235, 215, 0.351);
}

.lbutton:active{
  background-color: rgba(250, 235, 215, 0.351);
  
}

.lbutton:hover{
  background-color: rgba(250, 235, 215, 0.508);
}