<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/c.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  </head>

  <body>
    <h1>ClassKonnect</h1>

    <p>Would you like to delete your account?</p>
    <br>
    <br>

    <form action="/delete/{{items[0]}}" method="POST">
      <input type="submit" value="Yes"/>
    </form>

    <form action="/main/{{items[0]}}" method="POST">
      <input type="submit" value="No"/>
    </form>

  </body>
</html>