<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/c.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  </head>

  <body>
    <form action="/main/{{items[0]}}" method="POST">
      <input type="submit" value='{{items[0]}}'/>
    </form>

    <form action="/update/{{items[0]}}" method="POST">
      <input type="submit" value="Update Courses"/>
    </form>

    <form action="/confirm/{{items[0]}}" method="POST">
      <input type="submit" value="Delete Account"/>
    </form>

    <form action="/" method="GET">
      <input type="submit" value="Log Out"/>
    </form>

    <h1>ClassKonnect</h1>

    <h2>Hello, {{items[0]}}!</h2>
    <br>
    <form action="/search/{{items[0]}}" method="POST">
      <input type="submit" value='Class Search'/>
    </form>
    <p>This semester, you're enrolled in:</p>
    <br>
    {% for section in items[1] %}
    <form action="/section/{{items[0]}}/{{section[0][0]}}/{{section[0][1]}}/{{section[0][2]}}" method="POST">
      <input type="submit" value='{{section[0][0]}} {{section[0][1]}} {{section[0][2]}}'/>
    </form>
    <br>
    {% endfor %}
    <br>
    <p>Students taking courses that are similar to yours:</p>
    <br>
    {% for user in items[2] %}
    <form action="/user_info/{{user[0]}}" method="POST">
      <input type="submit" value='{{user[0]}}'/>
    </form>
    <br>
    {% endfor %}
    
  </body>
</html>