<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/c.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
  </head>

  <body>

    <form action="/" method="GET">
      <input type="submit" value="Log Out" class = "logout"/>
    </form>

    <h1>ClassKonnect</h1>

    <br>
    <br>
    <h2>
      Select upto 4 courses if you want to find your peers enrolled in the course(s)!
    </h2>
      <form action="/result/{{items[-1]}}" method="POST">
        {% for section in items[:-1] %}
            <input type="checkbox" name='{{section[0][0]}} {{section[0][1]}} {{section[0][2]}}' value='{{section[0][0]}} {{section[0][1]}} {{section[0][2]}}' class = "lsthi">
            <label for='{{section[0][0]}} {{section[0][1]}} {{section[0][2]}}'> {{section[0][0]}} {{section[0][1]}} {{section[0][2]}}</label><br>
        {% endfor %} 
      <br>
      <input type="submit" value="Search" class = "submitbtn">
      </form>
    
  </body>
</html>