<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/c.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  </head>

  <body>
    <form action="/main/{{items[0]}}" method="POST">
      <input type="submit" value='{{items[0]}}'/>
    </form>

    <form action="/update/{{items[0]}}" method="POST">
      <input type="submit" value="Update Courses"/>
    </form>

    <form action="/confirm/{{items[0]}}" method="POST">
      <input type="submit" value="Delete Account"/>
    </form>

    <form action="/" method="GET">
      <input type="submit" value="Log Out"/>
    </form>

    <h1>ClassKonnect</h1>

    <h2>{{items[1][3]}} {{items[1][4]}} {{items[1][9]}} ({{items[1][7]}})</h2>
    <br>
    <h2>{{items[1][5]}}</h2>
    <br>
    <p>{{items[1][6]}}</p>
    <br>
    <h2>Main Instructor: {{items[1][16]}}</h2>
    <br>
    <h2>Course meetings</h2>
    {{items[1][13]}}: {{items[1][11]}} - {{items[1][12]}}
    <br>
    <br>
    <h2>Location</h2>
    {{items[1][15]}} {{items[1][14]}}
    
  </body>
</html>