<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/c.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  </head>

  <body>
    <form action="/main/{{items[0]}}" method="POST">
      <input type="submit" value='{{items[0]}}'/>
    </form>

    <form action="/update/{{items[0]}}" method="POST">
      <input type="submit" value="Update Courses"/>
    </form>

    <form action="/confirm/{{items[0]}}" method="POST">
      <input type="submit" value="Delete Account"/>
    </form>

    <form action="/" method="GET">
      <input type="submit" value="Log Out"/>
    </form>

    <h1>ClassKonnect</h1>

    <br>
    <br>


    <fieldset>

    <h3>
      If you would like to delete the course, press the button below.
    </h3>
    <form action="/delete_course/{{items[0]}}/{{items[1]}}/{{items[2]}}/{{items[3]}}" method="POST">
      <input type="submit" value='Delete'/>
    </form>

  </fieldset>


    <br>
    <br>

    <form action="/update_course/{{items[0]}}/{{items[1]}}/{{items[2]}}/{{items[3]}}" method="POST">
      <fieldset>
    <h3>Please enter either the course's name and section, or its 5-digit CRN (e.g., CS 222 SL1 or 74484)</h3>
        <br>
        <label>
          Name:
          <input type="course1" name="course1" size="30" maxlength="20">
          Section Number:
          <input type="sn1" name="sn1" size="30" maxlength="10">
          <br>
          CRN:
          <input type="crn1" name="crn1" size="30" maxlength="10">
        </label>
        <br/>
        <br/>
        <input type="submit" value="Update"/>
      </fieldset>
    </form>


    <br>
    <br>
    <h3>
      Or if you would like to simply add a new course...
    </h3>
    <br>
    <br>


    <form action="/add_course/{{items[0]}}" method="POST">
      <fieldset>
    <h3>Likewise, please enter either the course's name and section, or its 5-digit CRN (e.g., CS 222 SL1 or 74484)</h3>
        <br>
        <label>
          Name:
          <input type="course2" name="course2" size="30" maxlength="20">
          Section Number:
          <input type="sn2" name="sn2" size="30" maxlength="10">
          <br>
          CRN:
          <input type="crn2" name="crn2" size="30" maxlength="10">
        </label>
        <br/>
        <br/>
        <input type="submit" value="Add"/>
      </fieldset>
    </form>
  </body>
</html>