<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='img/c.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/friend.css') }}">
  </head>

  <body>
    <form action="/" method="GET">
      <input type="submit" value="Log Out" class="logout"/>
    </form>

    <h1>{{items[0]}}</h1>
    <h2>NetID: {{items[0]}} </h2>
    <h2>Discord ID: {{items[1]}} </h2>

    <br>
    <h3>List of courses {{items[0]}} is enrolled in this semester:</h3>
    {% for section in items[2] %}
      <form action="/section/{{items[0]}}/{{section[0][0]}}/{{section[0][1]}}/{{section[0][2]}}" method="POST">
        <input type="submit" value='{{section[0][0]}} {{section[0][1]}} {{section[0][2]}}' class="coursels"/>
      </form>
      <br>
    {% endfor %}
    
  </body>
</html>