html{
  margin: 0px;
  background-image: url("error.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100%;
  overflow: hidden;
}

h2{
  color: aliceblue;
  font-weight: 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  margin-top: 20px;
  margin-left: 100px;
}

.Homepage{
  color: white;
  color: aliceblue;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(0, 0, 0, 0.010);
  margin-left: 100px;
  margin-top: 0px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  filter: alpha(opacity=500);
}

.Homepage:hover{
  background-color: rgba(0, 0, 0, 0.006);
}

.Homepage:active{
  background-color: rgba(0, 0, 0, 0.004);
}

.buttonmove{
  margin-left: 100px;
}