@font-face{
  font-family: trial;
  src: url('../Fonts/ZenDots-Regular.ttf');
  font-weight: bold;
}


html{
  background: url("../img/update.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
  font-family:trial;
  margin-left: 420px;
  font-size: 50px;
}

h2{
  font-family:trial;
  text-align: center;
  color: brown;
}

h3{
  font-family:trial;
  text-align: center;
  color: brown;
}
.logout{
  height: 40px;
  width: 200px;
  font-family: trial;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  filter: alpha(opacity=500);
  transition: background-color 0.25s;
  background-color: rgb(176, 170, 181);
}


.logout:hover{
  background-color: rgba(250, 235, 215, 0.508);
}

.logout:active {
  background-color: rgba(250, 235, 215, 0.351);
}

.btn{
  margin-left: 525px;
  height: 40px;
  width: 200px;
  font-family: trial;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  filter: alpha(opacity=500);
  transition: background-color 0.25s;
  background-color: rgb(176, 170, 181);
  color: brown;
}

.btn:hover{
  background-color: rgba(250, 235, 215, 0.508);
}

.btn:active {
  background-color: rgba(230, 162, 74, 0.841);
}

label{
  text-align: center;
  margin-left: 200px;
  font-family: trial;
  color: brown;
}